<footer style="display: flex; align-items: center; width: 100%; justify-content: center;">
  <a target="_blank" href="//github.com/activatedgeek/website">
    <img
      src="//travis-ci.org/activatedgeek/website.svg?branch=master"
      style="height:1em;display:inline;margin: 0.5em;"
      alt="Build Status"
    >
  </a>
  <br />
  <a target="_blank" href="//www.netlify.com">
    <img
      src="https://www.netlify.com/img/global/badges/netlify-color-bg.svg"
      style="margin:0.5em;height:2em;"
      alt="Build Status"
    />
  </a>
</footer>
